#box {
  -fx-background-color: #ddefffff;
  -fx-background-radius: 8;
}

#txtTitle {
  -fx-font-size: 16px;
}

.list-cell {
  -fx-background-color: white;
}

.todo-toolbar {

}

.list-cell:selected > #box {
    -fx-border-color: #0078ffff;
    -fx-border-width: 1;
    -fx-border-radius: 8;
}

.primary-button {
    -fx-background-color: #0078ffff;
    -fx-text-fill: white;
}

.primary-button:hover {
    -fx-background-color: #0078ffd8;
}

.negative-button {
    -fx-background-color: #eb5600ff;
    -fx-text-fill: white;
}

.negative-button:hover {
    -fx-background-color: #eb5600d8;
}

